body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app-container {
  display: flex;
  height: 100%;
}

#main-menu {
  background-color: red;
  min-width: 270px;
  max-width: 20%;
  display: flex;
  flex-direction: column;

}

#search-bar {
  margin: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.tabs-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.tab {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  height: 35px;
}

.tab > .icon-container {
  position: relative;
  width: 24px;
  height: 24px;
}

.tab > .icon-container > .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: orange;
  border-radius: 50%;
 

}

.icon > svg {
  height: 100%;
  width: 100%;
  padding: 2px;
}

.calendar-date{
  position: absolute;
  font-size: 9px;
  top: 33%;

}

.tab > .task-count {
 
  /* Add your task count styles here */
}


#tasks-container {
  flex: 1;
  min-width: 300px;
  background-color: yellow;
}


@media (max-width: 570px) {
  #main-menu {
    display: none;
  }

  #tasks-container{
    min-width: 300px;
  }
}
